<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Secretariat</title>
</head>
<body>
<h2>Add a Secretariat</h2>
<form action="http://127.0.0.1:5000/redirect" method="post">
    Name:<br>
    <input type="text" name="name"><br>
    Location:<br>
    <input type="text" name="location"><br>
    Description:<br>
    <input type="text" name="description"><br>
    Opening Hours:<br>
    <input type="text" name="open_hours"><br><br>
    <input type="hidden" name="serviceId" value="2">
    <input type="submit">
</form>
</body>
</html>