<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a Secretariat</title>
    <link rel="stylesheet" href="jquery-ui.css"> </link>
    <script src="jquery.js"></script>
    <script src="jquery-ui.js"></script>
</head>
<body>
<select name="secrid" form="secretariat">
{% for id in ids %}
    <option value="{{ id }}">{{id}}</option>
{% endfor %}
</select>
<form action="edit_secretariat.html" method="post" id="secretariat">
    Name:<br>
    <input type="text" name="name"><br>
    Location:<br>
    <input type="text" name="location"><br>
    Description:<br>
    <input type="text" name="description"><br>
    Opening Hours:<br>
    <input type="text" name="open_hours"><br><br>
    <input type="hidden" name="serviceId" value="2">
    <input type="submit" value="Submit"/>
</form>

</body>
</html>