<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Scanner Demo</title>
    <style type="text/css">

    </style>
   <link rel="stylesheet" href="/static/jquery-ui.css"> </link>
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui.js"></script>
</head>
<body>

<style>
    canvas {
        display: none;
    }
    hr {
        margin-top: 32px;
    }
    input[type="file"] {
        display: block;
        margin-bottom: 16px;
    }
    div {
        margin-bottom: 16px;
    }
</style>
<h1>Scan from WebCam:</h1>
<div>
    <b>Device has camera: </b>
    <span id="cam-has-camera"></span>
    <br>
    <video muted playsinline id="qr-video"></video>
</div>
<div>
    <select id="inversion-mode-select">
        <option value="original">Scan original (dark QR code on bright background)</option>
        <option value="invert">Scan with inverted colors (bright QR code on dark background)</option>
        <option value="both">Scan both</option>
    </select>
    <br>
</div>
<b>Detected QR code: </b>
<span id="cam-qr-result">None</span>
<br>
<b>Last detected at: </b>
<span id="cam-qr-result-timestamp"></span>
<hr>

<h1>Scan from File:</h1>
<input type="file" id="file-selector">
<b>Detected QR code: </b>
<span id="file-qr-result">None</span>

<hr>
<h1>QR Code Result:</h1>
<div id="response">Please scan a QR code</div>



<script type="module">
    import QrScanner from '/static/qr-scanner.min.js';
    QrScanner.WORKER_PATH = '/static/qr-scanner-worker.min.js';

    const video = document.getElementById('qr-video');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');




    function setResult(label, result) {
        label.textContent = result;
        camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);


        $ (document).ready(function () {
            console.log(result);

            // ##### Decode qr code result
            var auxResult = result.toString().split("\n");

            var data = [];
            for(var i=0; i< auxResult.length; i++){
                var attributes = auxResult[i].split('-');
                data[i] = [];

                data[i][0] = attributes[0];
                data[i][1] = attributes[1];
            }
            var auxData = '';
            for(var i = 0; i < data.length; i++){
                if(i==0)
                    auxData += data[i][0];
                else
                    auxData += '&' +data[i][0];

                auxData += '=' + data[i][1];

            }
            //data = JSON.stringify(auxData);
            console.log(data);

            $("#divDestiny").html("waiting");
            $.ajax({
                type: "GET",
                url: "http://localhost:5000/redirect",
                dataType: "html",
                cache: false,
                contentType: "application/json",
                data: auxData,
                success: function (dataResponse) {
                    $("#response").html(dataResponse);
                },
                error: function(xhr, status, error) {
                  var error1 = eval("(" + xhr.responseText + ")");
                  console.log(error1.Message);
                  console.log(geturl.getAllResponseHeaders());
                  alert("error!"+ geturl.getAllResponseHeaders());
}
            })

        });

    }

    // ####### Web Cam Scanning #######

    QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

    const scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();

    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    // ####### File Scanning #######

    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file)
            .then(result => setResult(fileQrResult, result))
            .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    });

</script>



</body>
</html>